{% load menu_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        {% if menu_slug %}
            {% draw_menu 'Main menu' menu_slug=menu_slug menuitem_slug=menuitem_slug %}
            {% draw_menu 'Second menu' menu_slug=menu_slug menuitem_slug=menuitem_slug %}
        {% else %}
            {% draw_menu 'Main menu' %}
            {% draw_menu 'Second menu' %}
        {% endif %}
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>