.container{
    display: flex;
}

ul {
    list-style-type: none;
}

.main-menu {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    user-select: none;
    margin-left: 10px;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    transform: rotate(90deg);
}

li > ul {
    display: none;
}

li.opened > ul {
    display: block;
}